* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

img{
  width: 15vw;
  height: auto;
  border-radius: 15%;
  float: right;
}
.navbar{
  font-family: 'Yeon Sung', serif;
}

body{
  background: url('https://i.imgur.com/Ii0WozH.jpg') no-repeat center center fixed;
  background-size: cover;
}

.jumbotron{
  background-color: hsla(240, 100%, 25%, 0.3);
  margin: 7vw;
  padding: 3vw;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  color: hsla(240, 100%, 50%, 0.5);
  font-family: 'Yeon Sung', serif;
}

ul, a{
  text-decoration: none;
  color: #cd5b45;
  float: left;
}

a:hover{
  color: #9fdbf2;
}

.main{
  font-family: "Courgette", cursive;
  font-size: 1rem;
  text-align: center;
  max-width: 60%;
  margin: 0 20% ;
  color: hsla(300, 100%, 50%, 0.6);
  border-radius: 5%;
  box-shadow: hsla(0, 0%, 0%, .8) 1rem 1rem 8rem;
}

@media (max-width: 600px){
  .main{
    max-width: 80%
  }
}
@media(min-width: 768px){
  .main {
    max-width: 50%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px){
  .jumbotron{
    margin: 3vw;
    padding:4vw;
  }
  .main{
    font-size: 4rem;
  }
}








